{{template "header" .}}
    <h1>Frequently Asked Questions</h1>
    
    <ul>
    {{range .}}
        {{template "faq" .}}
    {{end}}
    
    </ul>

{{template "footer" .}}

{{define "faq" }}
<li><strong>{{.Question}}</strong> {{.Answer}}</li>
{{end}}