{{template "header" .}}
<h1> Welcome to my new website </h1>
<p>Here are some of the features of our website:</p>
<ul>
    <li>Feature 1: User-friendly interface</li>
    <li>Feature 2: Fast and reliable</li>
    <li>Feature 3: Secure and private</li>
</ul>
<p>Stay tuned for more updates!</p>
{{template "footer" .}}